input {
    margin: 4rem;
    padding: 2rem;
    width: 50%;
    display: block;
}

button {
    margin: 2rem 0rem 0rem 2rem;
    padding: 1rem;
    width: 70%;
    display: block;
    
}

/* outputs */
#output {
    display: block;
    margin: 4rem;
    width: 50%;
    padding: 2rem;
    background-color: blueviolet;
}

#output1 {
    display: block;
    margin: 4rem;
    width: 50%;
    padding: 2rem;
    background-color: blueviolet;
}

#op {
    display: block;
    margin: 4rem;
    width: 50%;
    padding: 2rem;
    background-color: blueviolet;
}

/** section **/

.section {
    padding: 2rem;
    margin: auto;
    width: 600px;
}
.section h1 {
    text-align: center;
}
.ow {
    background-color: gray;
}